
#Backend
ProjetoContasCongregacionaisBackend/projeto-contascongregacionais-backend/target
ProjetoContasCongregacionaisBackend/projeto-contascongregacionais-backend/HELP.md
ProjetoContasCongregacionaisBackend/projeto-contascongregacionais-backend/mvnw
ProjetoContasCongregacionaisBackend/projeto-contascongregacionais-backend/mvnw.cmd
ProjetoContasCongregacionaisBackend/projeto-contascongregacionais-backend/.mvnw
ProjetoContasCongregacionaisBackend/.vscode

#Frontend
ProjetoContasCongregacionais/ProjetoContasCongregacionais/.vscode
ProjetoContasCongregacionais/ProjetoContasCongregacionais/.angular
ProjetoContasCongregacionais/ProjetoContasCongregacionais/DBjsonServer
ProjetoContasCongregacionais/ProjetoContasCongregacionais/DocReferencia
ProjetoContasCongregacionais/ProjetoContasCongregacionais/node_modules