<!--Usando a responsividade do bootstrap-->
<section class="section-main">
  <!--Criando 1 card-->
  <div class="card card-main">
    <div class="card-header">
      <h4>Dashboard de Recibos do mês {{ "Fevereiro" }}</h4>
    </div>

    <div class="botao-cadastro-recibo">
      <!-- Criando o botão para tela de cadastro de recibos -->
      <div class="card-body">
        <button class="btn" (click)="novoRecibo()">
          Cadastrar novo recibo
        </button>
      </div>
    </div>

    <!-- Criar campo imput de pesquisa com botão ícone de pesquisa -->
    <form class="card-form-search col-md-2">
      <div class="card-body">
        <label>Pesquisa de recibos por data</label>
        <div class="input-group">
          <input
            type="date"
            class="form-control"
            placeholder="Pesquisar recibo"
          />
        </div>
      </div>
    </form>

    <!-- @for( recibo of listaRecibos; track recibo.idReciboDashboard ){ -->
    <div class="card-body">
      <!--  *ngFor="let recibo of listaRecibos; let i = index" -->

      <div class="row">
		@for ( item of listaRecibos; track item.id) {
			<div class="card col-md-3">
				<div
				  class="card-header"
				  style="
					display: flex;
					justify-content: space-between;
					margin-top: 10px;
				  "
				>
				  <h5>Recibo</h5>
				  <h6>Data {{ item.dataReciboDashboard }}</h6>
          <button class="btn btn-primary" 
          (click)="editarReciboJaCadastrado(item)"
          >Editar</button>
          <button class="btn btn-danger" (click)="deletarReciboDashboard(item.id)">Deletar</button>
            
				</div>
				<div class="card-body">
				  <p>
					Donativos para Obra Mundial: R$
					{{ item.donativoObraMundRecDashboard }}
				  </p>
				  <p>
					Donativo - Desp.Congregação local: R${{
						item.donativoDespCongrLocalRecDash
					}}
				  </p>
				  <p>
					Tipo:
					{{ item.donativoTipo }} (Donativo/Pagamento/Adiantamento)
				  </p>
				  <p>Arranjo de ônibus: R$ {{ item.arranjoDeOnibus }}</p>
				  <!-- <p>Valor total: R$ {{4.950,00}}</p> -->
				  <!-- <div src="url"></div> -->
				</div>
			  </div>
		}          
        
      </div>
    </div>
    <!-- } -->
  </div>
</section>
