<section class="section-form-main">
  <h3>Cadastre aqui o recibo dos donativos coletados após a reunião</h3>
  <div class="div-botao-cadas" *ngIf="novoRecibo">
    <!--botão para submeter o formulario-->
    <button class="btn btn-primary" 
    
    (click)="enviarDadosEditadosDoRecibo()">    
      Recibo editado</button>
    <button class="btn btn-primary" (click)="cadastrarecibopost()">
      Cadastrar novo recibo
    </button>
  </div>

  <div class="div-form-card">
    <form
      class="card-form"
      (ngSubmit)="cadastrarecibopost()"
      #actorform="ngForm">

      <div class="card-body">
        <label>Cadastro de recibos</label>

        <div>
          <label for="mesReciboDashboard">Mês do recibo</label>
          <input
            type="month"
            class="form-control"
            placeholder="Mês do recibo"
            [(ngModel)]="novoRecibo.mesReciboDashboard"
            name="mesReciboDashboard"
          />
        </div>

        <div>
          <label for="dataReciboDashboard">Data do recibo</label>
          <input
            type="date"
            class="form-control"
            placeholder="Data do recibo"
            [(ngModel)]="novoRecibo.dataReciboDashboard"
            name="dataReciboDashboard"
          />
        </div>

        <div>
          <label for="donativoObraMundRecDashboard"
            >Donativos para Obra Mundial</label
          >
          <input
            type="number"
            class="form-control"
            placeholder="Donativo para Obra Mundial"
            [(ngModel)]="novoRecibo.donativoObraMundRecDashboard"
            name="donativoObraMundRecDashboard"
          />
        </div>

        <div>
          <label for="donativoDespCongrLocalRecDash"
            >Donativo - Despesas da Congregação Local</label
          >
          <input
            type="number"
            class="form-control"
            placeholder="Donativo para Despesas da Congregação Local"
            [(ngModel)]="novoRecibo.donativoDespCongrLocalRecDash"
            name="donativoDespCongrLocalRecDash"
          />
        </div>

        <!--Crie um dropdown para o campo "tipo de doação"-->
        <div>
          <label for="donativoTipo">Tipos de donativos</label>
          <select
            class="form-control"
            [(ngModel)]="novoRecibo.donativoTipo"
            name="donativoTipo"
          >
            <option value="1">Tipo de doação - click aqui para escolher</option>
            <option value="Donativo">Donativo</option>
            <option value="Pagamento">Pagamento</option>
            <option value="Adiantamento">Adiantamento</option>
            <option value="Arranjo">Arranjo de Ônibus</option>
          </select>
        </div>

        <div>
          <label for="arranjoDeOnibus">Arranjo de ônibus</label>
          <input
            type="number"
            class="form-control"
            placeholder="Arranjo de ônibus"
            [(ngModel)]="novoRecibo.arranjoDeOnibus"
            name="arranjoDeOnibus"
          />
        </div>
      </div>
    </form>
  </div>
</section>